<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mekpartner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".LoginRelated.TechnicalSupport.CallsSummary.CallSummaryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginRelated.TechnicalSupport.Technical_support" />
        <activity
            android:name=".LoginRelated.ServiceManagement.ServiceManagement"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginRelated.Bookings.History.Service_completed" />
        <activity android:name=".LoginRelated.Services.SosSP.TowingChauffer.ChaufferCustomerDropoff" />
        <activity android:name=".LoginRelated.Services.SosSP.ForRestService.CustomerDropOff" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.PickupConfirm" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.ServiceInProgress" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.CustomerPickup" />
        <activity android:name=".LoginRelated.Services.SosSP.ForRestService.ConfirmPickup_fRs" />
        <activity android:name=".LoginRelated.CustomerReport.ViewCustomerReport" />
        <activity android:name=".LoginRelated.CustomerReport.SignatureActivity" />
        <activity android:name=".LoginRelated.CustomerReport.AddCustomerReport" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.ScanQRcode" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.Ub_PartnerDropOff" />
        <activity android:name=".LoginRelated.Services.RegularServicePartner.ConfirmBookingRs" />
        <activity
            android:name=".LoginRelated.NavDrawer.NavActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginRelated.ProfileRelated.AccountDetails" />
        <activity android:name=".LoginRelated.ProfileRelated.InitialProfilePage" />
        <activity
            android:name=".LoginRelated.SignUpandLoginFragments.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginRelated.OnboardingPages.OnboardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginRelated.OnboardingPages.Splashscreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:name=".LoginRelated.mekcoins_wallet.MekcoinsWalletActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>