<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mekpartner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".cart.JobCartPartner"/>
        <activity android:name=".add_to_cart.CartHomePage"/>

        <activity android:name=".technical_support.calls_summary.CallSummaryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".sp_cabs_more.history.HistorySpShowDetails"/>
        <activity android:name=".sp_cabs_more.new_booking.AcceptNewBooking"/>
        <activity android:name=".sp_cabs_more.upcoming_booking.UpcomigBookingDetailSp"/>
        <activity android:name=".sp_cabs_more.Spcabs_more"/>
        <activity android:name=".technical_support.Technical_support" />

        <activity android:name=".service_management.ServiceManagement"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".bookings.history.Service_completed" />

        <activity android:name=".services.sos_sp.towing_chauffer.ChaufferCustomerDropoff"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".services.sos_sp.for_rest_service.CustomerDropOff" />
        <activity android:name=".services.regular_service_partner.PickupConfirm" />

        <activity android:name=".services.regular_service_partner.ServiceInProgress"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".services.regular_service_partner.CustomerPickup" />
        <activity android:name=".services.sos_sp.for_rest_service.ConfirmPickup_fRs" />
        <activity android:name=".customer_report.ViewCustomerReport" />
        <activity android:name=".customer_report.SignatureActivity" />
        <activity android:name=".customer_report.AddCustomerReport" />
        <activity android:name=".services.regular_service_partner.ScanQRcode" />
        <activity android:name=".services.regular_service_partner.Ub_PartnerDropOff" />
        <activity android:name=".services.regular_service_partner.ConfirmBookingRs" />
        <activity android:name=".help_and_support.Disclaimer"/>
        <activity android:name=".help_and_support.Terms_and_Conditions"/>
        <activity android:name=".help_and_support.Terms_Of_Use"/>
        <activity android:name=".help_and_support.Privacy_policy"/>
        <activity android:name=".help_and_support.Previous_Orders"/>
        <activity android:name=".help_and_support.Pickup_Confirmed"/>
        <activity android:name=".help_and_support.Need_help"/>
        <activity android:name=".help_and_support.Message"/>
        <activity android:name=".help_and_support.Mek_Legel_Activity"/>
        <activity android:name=".help_and_support.Help_and_Support"/>
        <activity android:name=".help_and_support.Faq_activity"/>
        <activity android:name=".help_and_support.Help"/>
        <activity android:name=".transaction_history.Transaction_details_02"/>
        <activity android:name=".help_and_support.General_Queries"/>

        <activity android:name=".transaction_history.Transaction_details_01"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".about_us.AboutUs"/>
        
        <activity
            android:name=".nav_drawer.NavActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".profile_related.AccountDetails" />
        <activity android:name=".profile_related.InitialProfilePage" />

        <activity android:name=".signup_and_login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".onboarding_pages.OnboardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".onboarding_pages.Splashscreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:name=".mekcoins_wallet.MekcoinsWalletActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>